.module-header {
    overflow: hidden;
    white-space: nowrap;
    color: steelblue;
    font-weight: 700;
}

.module-header hr {
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid; 
    color: inherit;
    text-transform: uppercase;
    font-size: 5rem;
}
.module-header h2 {
    font-size: 3rem;
}
.module-header i {
    margin-right: 2px;
    padding: 3px;
    border: 2px solid;
    border-radius: 50%;
}