.module-header {
    overflow: hidden;
    white-space: nowrap;
    color: steelblue;
}

.module-header hr {
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid; 
}

.module-header i {
    width: 42px;
    height: 42px;
    margin-right: 2px;
    padding: 3px;
    border: 2px solid;
    border-radius: 50%;
}