.main-info {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.main-img{
    margin-top: 5%;
    margin-left: 27%;
    border-radius: 50%;
}
.circle{
    border: 2px solid #3d6cb0;
    width: 15rem;
    border-radius: inherit;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-img_photo {
    border-radius: inherit;
    margin-top: 5px;
    height: 95%;
    width: 95%;
}

.main-text {
    margin-top: 1rem;
}
