.contact-label {
    margin-left: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: steelblue;
    margin-right: 1rem;
    font-size: 1rem;
    display: inline-block;
}

.contact-info {
    font-size: 1rem;
    display: inline-block;
}
@media (max-width: 500px){
    .contact-label {
        font-size: .9rem
    }
    .contact-info {
        font-size: .9rem
    }
}