.edu-group-item h4{
    margin-left: 2rem;
}

.edu-group-item p{
    margin-left: 2rem;
}

.edu-group-item{
    margin-left: 0.55rem;
}

@media (max-width: 1000px){
    .edu-group-item {
    font-size: 1rem;
    }
}